{% extends 'layout/base.html' %}

{% block title %}Tạo đơn hàng{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="container-fluid p-0 overflow-hidden vh-100 bg-light">
    <div class="row g-0 h-100">

        <div class="col-12 col-md-7 d-flex flex-column h-100 border-end">

            <div class="d-flex align-items-center">
                <button class="btn btn-outline-primary me-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasWithBothOptions">
                    <i class="bi bi-list"></i>
                </button>
                <input class="form-control border border-primary" type="search" placeholder="Nhập từ khoá..."
                        onchange="filterProductByKeyword(this)" autocomplete="off">
            </div>

            <div class="flex-grow-1 overflow-auto p-3 bg-light custom-scroll">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3" id="product-grid">
                    {% for p in products %}
                    <div class="col product-item" data-cate-id="{{ p.category_id }}" data-name="{{ p.name }}">
                        <div class="card h-100 product-card user-select-none"
                             style="cursor: pointer;"
                             onclick="addToOrder({{ p.id }}, '{{ p.name }}', {{ p.price }})">
                            <div class="position-relative">
                                <img src="{{ p.image }}" class="card-img-top object-fit-cover"
                                     style="height: 130px;" alt="{{ p.name }}">
                                <div class="position-absolute end-0 top-0 badge bg-danger text-light fs-5">
                                    <span id="product-{{ p.id }}-price">{{ "{:,.0f}".format(p.price) }}</span> VNĐ
                                </div>
                            </div>
                            <div class="card-body p-2 text-center">
                                <h6 class="card-title small fw-bold mb-0">{{ p.name }}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 d-flex flex-column h-100">
            <h5 class="card-header bg-primary text-white p-3 fw-bold">
                <i class="bi bi-receipt"></i> THÔNG TIN ĐƠN HÀNG
            </h5>
            <div class="card-body p-0 flex-grow-1 overflow-auto custom-scroll position-relative">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light sticky-top ">
                    <tr class="small text-muted text-uppercase">
                        <th class="text-start">Tên món</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">SL</th>
                        <th class="text-end pe-3">Tiền</th>
                    </tr>
                    </thead>
                    <tbody id="bill-body">
                    </tbody>
                </table>
                <div id="empty-cart-msg"
                     class="position-absolute top-50 start-50 translate-middle text-center text-muted opacity-50 w-100">
                    <i class="bi bi-basket display-1"></i>
                    <p class="mt-2">Chưa có món nào được chọn</p>
                </div>
            </div>

            <div class="card-footer bg-white border-top p-3 shadow-top">
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-muted">Tổng số món:</span>
                    <span class="fw-bold cart-counter">0</span>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-muted">Tạm tính:</span>
                    <span class="fw-bold price text-dark cart-sub"></span>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-muted">Phí phục vụ:</span>
                    <span class="text-dark fw-bold ser-fee-rate">0</span>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-muted">Tổng phí phục vụ:</span>
                    <span class="fw-bold price text-info cart-ser-fee"></span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-4">
                    <span class="fs-5 fw-bold">TỔNG CỘNG:</span>
                    <span class="fs-4 fw-bold text-danger price cart-total" id="total-amount-summary">
                    </span>
                </div>

                <div class="d-flex gap-2">
                    <button class="btn btn-outline-danger fw-bold w-50 py-2" type="button" onclick="clearOrder()">
                        <i class="bi bi-trash"></i>HỦY
                    </button>
                    <button class="btn btn-info fw-bold w-100 py-2 shadow-sm text-uppercase" type="button"
                            onclick="submitOrder()">
                        <i class="bi bi-cash-stack me-2"></i> Thanh toán
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">CHỌN DANH MỤC SẢN PHẨM</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body overflow-y-auto">
        <div class="scroll-smooth d-block">
            <button class="btn btn-outline-primary active fw-bol p-3 w-100 mb-2 btn-filter"
                    onclick="getAllProducts(this)">
                Tất cả
            </button>
            {% for c in cates %}
            <button class="btn btn-outline-primary fw-bold p-3 w-100 mb-2 btn-filter"
                    onclick="filterProductByCategory({{ c.id }}, this)">
                {{ c.name }}
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="offcanvas-footer">
        <a class="btn btn-primary fw-bol p-3 w-100" href="/">
            <i class="bi bi-house"></i> Về trang chủ
        </a>
    </div>
</div>
{% endblock %}