* {
    font-family: Roboto, serif;
    font-weight: 1000;
}

#cart-bagde {
    font-size: 0.6rem;
}

body.login {
    background-image: url('https://res.cloudinary.com/dphz3ewhr/image/upload/v1765344944/login_gzeu70.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}