{% extends 'admin/master.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
<h2>
    Chào {{ current_user.user_name }}
    <img src="{{ current_user.avatar }}" alt="avatar" class="img-circle" style="max-height: 50px; max-width: 50px;">
</h2>
        <div class="row gx-3">
            <div class="col-md-3 p-3">
                <div class="bg-success card" style="height: 15rem;">
                    <div class="card-title">
                        <h5 class="text-center pt-5 text-white"><i class="bi bi-cash-coin"></i> Doanh thu hôm nay</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">
                            {{ "{:,.0f}".format(stats_day|float) }} VNĐ
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-info card" style="height: 15rem;">
                    <div class="card-title">
                        <h5 class="text-center pt-5 text-white"><i class="bi bi-receipt"></i> Tổng số hoá đơn hôm nay</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">
                            {{ total_order }}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3">
                <div class="bg-warning card" style="height: 15rem;">
                    <div class="card-title">
                        <h5 class="text-center pt-5 text-white"><i class="bi bi-hourglass"></i> Đơn hàng chưa thanh toán</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">
                            {{ uncompleted_order }}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3">
                <div class="bg-danger card" style="height: 15rem;">
                    <div class="card-title">
                        <h5 class="text-center pt-5 text-white"><i class="bi bi-exclamation-triangle"></i> Nguyên liệu sắp hết</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">
                            {{ low_stock_count }}
                        </h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}