{% extends 'layout/base.html' %}

{% block title %}Thực đơn | HaiLan Cafe{% endblock %}

{% block content %}
<div id="navbar-menu" class="menu-header container p-3 position-sticky" style="scroll-margin-top: 66px;">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 class="fw-bold">THỰC ĐƠN</h2>
        </div>
        <div class="col-md-6">
            <form class="d-flex" method="GET">
                {% if category_id %}
                <input type="hidden" name="category_id" value="{{ category_id }}">
                {% endif %}
                <input class="form-control me-2" type="search" placeholder="Nhập từ khoá..." name="kw"
                       value="{{ keyword or '' }}">
                {% if keyword %}
                <a href="?{% if category_id %}category_id={{ category_id }}{% endif %}"
                   class="btn btn-outline-secondary me-2">
                    <i class="bi bi-x"></i>
                </a>
                {% endif %}
                <button class="btn btn-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container menu-container pt-5 mb-5">
    <div class="row g-4">

        <!--danh muc sản phẩm-->
        <div class="col-md-3">
            <div class="menu-sidebar pe-4 position-sticky">
                <div class="list-group" id="menu-list">
                    {% for cate in cates %}
                    <a href="?category_id={{ cate.id }}{% if keyword %}&kw={{ keyword }}{% endif %}    "
                       class="list-group-item list-group-item-action" title="{{ cate.description }}">
                        {{cate.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--sản phẩm-->
        <div class="col-md-9">
            <section>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for prod in products %}
                    <div class="col">
                        <div class="card product-card">
                            <img src="{{ prod.image }}"
                                 class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ prod.name }}</h5>
                                <p class="price">{{ prod.price }}</p>
                                <a href="#" class="btn btn-danger w-100 rounded-pill">Mua hàng</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
