{% extends 'layout/base.html' %}

{% block js %}script{% endblock %}
{% block title %}Thực đơn | HaiLan Cafe{% endblock %}

{% block content %}
<div id="navbar-menu" class="menu-header container p-3 position-sticky" style="scroll-margin-top: 66px;">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 class="fw-bold">THỰC ĐƠN</h2>
        </div>
        <div class="col-md-6">
            <form id="search-form" class="d-flex" method="GET">
                <input class="form-control me-2" type="search" placeholder="Nhập từ khoá..." name="kw"
                       value="{{ keyword or '' }}">
                {% if keyword %}
                <a href=""
                   class="btn btn-outline-secondary me-2 kw-rm">
                    <i class="bi bi-x"></i>
                </a>
                {% endif %}
                <button class="btn btn-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container menu-container pt-5 mb-5">
    <div class="row g-4">

        <!--danh muc sản phẩm-->
        <div class="card mb-3 col-12 col-md-3 h-100 position-sticky filter">
            <div class="card-header fw-semibold">
                <i class="bi bi-funnel"></i> Bộ lọc tìm kiếm
            </div>
            <div class="card-body">
                <h6 class="mb-3 card-title">Danh mục</h6>
                <div class="row g-2 mb-3">
                    {% for cate in cates %}
                    <div class="col-6">
                        <a
                                href="#"
                                data-id="{{ cate.id }}"
                                data-current-id="{{ category_id }}"
                                class="cate-box border d-block p-2 rounded text-center text-decoration-none text-dark
                           {% if category_id|int == cate.id %}active{% endif %}">
                            <!--<img src="{{ cate.icon }}" alt="{{ cate.name }}">-->
                            {{ cate.name }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <h6 class="mb-3 card-title">Lọc</h6>
                <div class="g-2">
                    <select class="form-select" id="sort-select">
                        <option value="">Sắp xếp</option>
                        <option {% if sort==
                        "giá cao trước" %}selected{% endif %} value="giá cao trước">Giá cao trước</option>
                        <option {% if sort==
                        "giá thấp trước" %}selected{% endif %} value="giá thấp trước">Giá thấp trước</option>
                        <option {% if sort==
                        "mới nhất trước" %}selected{% endif %} value="mới nhất trước">Món mới</option>
                    </select>
                </div>
                {% if keyword %}
                <div class="btn-group small mt-3">
                    <button type="button" class="btn p-0 ps-2 pe-2">{{ keyword }}</button>
                    <a href="" type="button" class="btn p-0 kw-rm"><i class="bi bi-x"></i></a>
                </div>
                {% endif %}
                {% if sort %}
                <div class="btn-group small mt-3">
                    <button type="button" class="btn p-0 ps-2 pe-2">{{ sort }}</button>
                    <a href="" type="button" class="btn p-0 sort-rm"><i class="bi bi-x"></i></a>
                </div>
                {% endif %}
                <a href="/menu" type="button" class="btn btn-outline-dark p-2 text-center w-100 border mt-5 fw-bolder">
                    Xoá tất cả bộ lọc
                </a>
            </div>
        </div>

        <!--sản phẩmm-->
        <div class="col-md-9">
            <section>
                {% if products %}
                <div class="row row-cols-2 row-cols-md-3 g-4 pt-1 p-3">
                    {% for prod in products %}
                    <div class="col">
                        <div class="card product-card">
                            <img src="{{ prod.image }}"
                                 class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title fw-light">{{ prod.name }}</h5>
                                <div class="row justify-content-center d-flex align-items-center p-3 pt-1 pb-1">
                                    <h6 class="price fs-4 fw-bolder col-12 col-md-9 p-0">
                                        {{"{:,.0f}".format(prod.price)}} VNĐ
                                    </h6>
                                    <a href="#" class="btn btn-danger rounded-3 col-12 col-md-3 fs-5 text-center">
                                        <i class="bi bi-bag-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <ul class="pagination justify-content-center mt-5">
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="bi bi-arrow-left"></i></a>
                    </li>
                    <li class="page-item active "><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-right"></i></a></li>
                </ul>
                {% else %}
                <div class="h-50 text-center p-5">
                    <h1><i class="bi bi-emoji-frown"></i></h1>
                    <h2>Không tìm thấy sản phẩm trùng khớp!</h2>
                    <p><strong>Gợi ý:</strong> Hãy thử lại với từ khoá hoặc loại sản phẩm khác.</p>
                </div>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
